<!-- Content here -->
<div class="row">
  <div class="col-2">
    admin main
  </div>
  <div class="col-10">
    <div class="row border">
      <h1><strong>推文清單</strong></h1>
    </div>
    {{#each tweets}}
    <div class="row border">
      <!--頭像-->
      <div class="col-2">
        頭像
      </div>
      <!--內容-->
      <div class="col-10" style="padding: 10px">
        <div>
          <strong>{{this.UserId}}</strong>
          <span class="text-muted">{{this.createdAt}}</span>
          <form action="/admin/admin_main/{{this.id}}?_method=DELETE" method="POST" style="display: inline">
            <button type="submit" class="btn btn-link link-danger">
              
                <i class="fa-solid fa-trash-can fa-xl"></i>
              
            </button>
          </form>
        </div>
        <div>{{this.description}}</div>
      </div>
    </div>
    {{/each}}

  </div>
</div>