<div class="row align-items-center">
  <div class="col-2">
    <div class="icon-box"><a href="#">{{>back}}</a></div>
  </div>
  <div class="col-2">
    <div class="row">John Doe</div>
    <div class="row">25 推文</div>
    </ul>
  </div>
</div>