<link rel="stylesheet" href="/user-upper-style.css">

<div class="row">
  <img src="https://i.imgur.com/s2FQTRY.jpg" class=" coverage-image" alt="coverage">

  <div class="d-flex justify-content-between px-3">
    <div class="avatar-size">
      <div class="avatar-image-clip">
        <img
          src="https://images.unsplash.com/photo-1533738363-b7f9aef128ce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80"
          alt="avatar" class="avatar-image">
      </div>
    </div>
    <button type="button" class="btn btn-primary">編輯個人資料</button>
  </div>

  <h5 class="user-name">John Doe</h5>
  <div class="user-account">@heyjohn</div>
  <p class="user-description">Some quick example text to build on the.
  </p>
  <div class="row">
    <div class="col">
      <a href="#" class="link-follwers">34個追隨中</a>
    </div>
    <div class="col">
      <a href="#" class="link-follwings">59位追隨者</a>
    </div>
  </div>
</div>