<link rel="stylesheet" href="/structure.css">
<div class="left col-3 position-sticky">
  {{>user-left}}
</div>
<div class="middle col-7 border">
  {{>header}}
  {{>modal}}
  {{>avatar-cropper}}
  {{>user-upper}}
  <div class="row">
    {{>user-lower}}
  </div>
</div>
<div class="right col position-sticky">
  {{>user-right}}
</div>
<div class="mask"></div>