@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap');

* {
  font-family: 'Noto Sans TC', sans-serif;
}

.coverage-a {
  padding: initial;
}

.coverage-image {
  width: 100%;
  padding: 0;
}

.d-flex {
  min-height: 50px;
  max-height: 68px;
  position: relative;
}

.avatar-size {
  margin-top: -15%;
  width: 45%;
  margin-bottom: 12px;
}

.avatar-image-clip {
  display: inline-block;
  width: 47%;
  padding-bottom: 47%;
  height: 0;
  position: relative;
}

.avatar-border {
  width: 110%;
  height: 110%;
  overflow: hidden;
  position: absolute;
  border-radius: 50%;
  background-color: white;
  display: flex
}

.avatar-a {
  width: inherit;
  display: inherit;
  align-items: center;
  justify-content: center;
}

.avatar-image {
  width: 95%;
  height: 95%;
  display: inherit;
  display: inline-block;
  border-radius: 50%;
}

.avatar-image:hover {
  cursor: pointer;
  filter: brightness(86%);
  transition: filter 0.3s;
}

.edit-user-btn {
  background-color: white;
  border-color: #FF6600;
  color: #FF6600;
  border-radius: 50px;
}

.edit-user-btn:hover {
  background-color: #FF6600;
  border-color: white;
  color: white;
  border-radius: 50px;
}

.user-account,
.user-description,
.follow-box {
  font-size: 16px;
}

.follow-box a {
  text-decoration: none;
  color: inherit;
}

.user-account,
.user-followers,
.user-followings {
  color: #6C757D;
}

.followings-block:hover,
.followers-block:hover {
  text-decoration: underline;
  cursor: pointer;
}

.header {
  padding-top: 6%;
  padding-bottom: 6%;
}

.svg-a {
  width: inherit;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-box {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.svg-round {
  width: inherit;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 50%;
}

.svg-round:hover {
  background-color: white;
  filter: brightness(86%);
  transition: filter 0.3s;
}

.svg-round svg {
  margin: initial
}